.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  color: white;
  word-break: break-word;
}

header {
  font-weight: bold;
  span {
    letter-spacing: 0px;
    &.tour {
      color: #fff;
    }
    &.of {
      color: #ccc;
    }
    &.heroes {
      color: $primary-light;
    }
  }
  .navbar-item.nav-home {
    border: 3px solid transparent;
    border-radius: 0%;
    &:hover {
      border-right: 3px solid $primary-light;
      border-left: 3px solid $primary-light;
    }
  }
  .fab {
    font-size: 24px;
    &.js-logo {
      color: $primary-light;
    }
  }
  .buttons {
    i.fab {
      color: #fff;
      margin-left: 20px;
      margin-right: 10px;
      &:hover {
        color: $primary-light;
      }
    }
  }
}

ul.list {
  box-shadow: none;
}

div.card-content {
  padding: 1rem !important;
  background-color: $shade-light;
  .name {
    font-size: 28px;
    color: #000;
  }
  .description {
    font-size: 20px;
    color: #999;
  }
}

label.label {
  font-weight: normal;
}

label.input {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
}

.card-footer button {
  font-size: 16px;
  i {
    margin-right: 10px;
  }
  color: #888;
  &:hover {
    color: $link;
  }
}

p.card-header-title, p.modal-card-title {
  background-color: $primary-dark;
  font-size: larger;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  text-align: center;
}

.auth-container {
  max-width: 375px !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.home-container {
  max-width: 400px !important;
}

.buttons i.fab {
  margin-left: 0px !important;
  margin-right: 20px !important;
}

:hover.fab {
  color: $dark !important
}

.login-section {
  margin: 1rem 1rem;
}

.box {
  padding: 1rem !important;
}

.field {
  margin-bottom: 0.75rem;
}

.navbar-menu.is-active {
  background-color: $primary;
}

button.link {
  background: none;
  border: none;
  cursor: pointer;
  color: $primary-dark;
}

:hover.link {
  color: $primary !important
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.column {
  padding: 0 !important;
}

.column.hero {
  align-self: stretch !important;
}

.navbar-brand {
  width: 100%;
}

.navbar-brand .buttons {
  justify-content: flex-end;
  width: 100%;
}

.button.is-primary {
  color: white !important;
  background-color: $primary-dark !important;
}

.button.is-primary:active {
  background-color: $primary !important;
}

.notification > .delete {
  right: 1rem !important;
  position: absolute;
  top: auto !important;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}