$vue: #42b883;
$vue-light: #42b883;
$vue-dark: #35495e;
$primary: #71EFA3;
$primary-dark: #50CB93;
$primary-light: #ACFFAD;
$dark: #54436B;
$link: #54436B;
$info: #ACFFAD;
$shade-light: #fafafa;
$accent-color: #3e9a74;
